
$font-family-sans-serif: 'Radio Canada', sans-serif;

$primary: #5265E1;
$secondary: #FA5959;
$dark: rgb(22, 22, 72);

$nav-link-hover-color: $secondary !important;
$nav-link-focus-color: black !important ;

       
$accordion-border-color:rgba(255, 255, 255, 0);            
$accordion-button-active-bg:rgba(255, 255, 255, 0) ;        
$accordion-button-active-color: black;
$accordion-icon-color: black;
$accordion-icon-active-color: $secondary;
$accordion-button-focus-border-color: rgba(255, 255, 255, 0);

$nav-pills-link-active-color: black;
$nav-pills-link-active-bg:rgba(0, 0, 0, 0);


@import "../node_modules/bootstrap/scss/bootstrap.scss";


header a{
    font-weight: 500;
};

main {
    overflow: hidden;
    .nav {
        border-bottom: 1px solid #e5e5e5;
        border-radius: 0;   
        }
    };


footer a{
    font-weight: 500;
};


.logo-bookmark {
    color: white;
};

.img-hero {
    border-radius: 170px 0px 0px 170px; 
    background: #5265E1;
    height: 60%;
    width: 100%;
    position: relative;
    top: -60%;
    right: -23%;
    z-index: -1;
    };

.img-tab1 {
    border-radius: 0px 0px 170px 0px; 
    background: #5265E1;
    height: 70%;
    width: 120%;
    position: relative;
    left: -30%;
    bottom: 60%;
    z-index: -1;
        };    

.img-tab {
    border-radius: 0px 170px 170px 0px; 
    background: #5265E1;
    height: 70%;
    width: 100%;
    position: relative;
    left: -25%;
    bottom: 70%;
    z-index: -1;
    };
  

.nav-link:hover {
    color: #121111;

};

.bg-top {
    background:none;
    background-size: 20px;
}

.btn-primary:hover {
    color: #5265E1 !important;
    background-color: #fff !important;
    border-color: #5265E1;
};

.btn-secondary:hover {
    color: #FA5959 !important;
    background-color: #fff !important;
    border-color: $secondary;
};

.btn-light:hover {
    color: rgb(0, 0, 0) !important;
    background-color: #fff !important;
    border-color: grey !important;
};

.btn-light {
    background-color: rgb(237, 237, 237) !important;
    border-color: rgb(237, 237, 237) !important;
 
};


.nav-toggle {
    background: rgba(0, 0, 0, 0.387);
};

.icon-facebook:hover{
    color: black !important;
};


main{
.nav .nav-item .nav-link {

    &.active{
        color: black !important;
        border-bottom: 3px solid #FA5959 !important;
        border-radius: 0; 
    }


  
    };
};

.nav .nav-item .nav-link{
    color: black;
}

.line{
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;  
    
};
        



div a svg path:hover{
    fill: #FA5959;
    transition: ease-out 0.5s;

};


#chrome {
    position: relative;
    top: -30px;
}

#firefox {
    position: relative;
    top: 20px;
}

#opera {
    position: relative;
    top: 70px;
}